<section class="jumbotron text-center">
      <div class="container">
         <div id="sloganetsearch">
         <h2 class="jumbotron-heading">Trouvez votre future colocation</h2>
        <p class="lead text-muted" style="color:Black">Votre recherche de colocation entre étudiants et selon votre école en France</p>
        <div>
           <%= search_form_for @q do |f| %>
  <%= f.search_field :school_cont,id:"tags", class:"form-control" %>
  <%= f.submit "Rechercher",  class: "btn btn-primary"%>
          </div>
         </div>
       </div>
 </section>
 <div class="row">
        <div class="col-md-6">
  </end>
  </end>
<% end %>
<%= render 'shared/listecole' %>
