<% if @photos %> <!-- on vérifie la présence de photos pour continuer à afficher -->
 <div class="row"> 
        <% @photos.each do |photo| %> <!--on crée une boucle pour traiter chaque photo indépendamment -->
             <div class="col-md-4"> 
                  <div class="panel panel-default"> 
                        <div class="panel-heading preview">
                             <%= image_tag photo.image.url() %> <!-- on affiche la photo -->
                        </div>
                        <div class="panel-body">
                              <span class="pull-right">
                                  <%= link_to photo, remote: true, method: :delete, data: {confirm: "Certain de vouloir supprimer cette photo?"} do %>  <!-- on ajoute remote: true pour faire appel au fichier jquery que l’on a ajouté ! -->
                           <i class="fa fa-times fa-lg"></i>
               <% end %>
     </span>
 </div>
                  </div>
             </div>
       <% end %>
 </div>
 <% end %>