<footer class="text-muted">
        <div class="container">
        <div class="col-md-3">
        <hr width="1050" align="center">
         <p>Aidez-moi :)</p>
         <p>Charte</p>
         <p>Informations légales</p>
         <p>Politique de confidentialité</p>
         </div>
         </div>
</footer> 